<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Shipping Management</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header"><h5>Add Shipping Region</h5></div>
      <div class="card-body">
        <form [formGroup]="shippingForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label>Wilayah *</label>
            <input type="text" class="form-control" formControlName="wilayah">
          </div>
          <div class="form-group mb-3">
            <label>Biaya (Rp) *</label>
            <input type="number" class="form-control" formControlName="biaya">
          </div>
          <div class="form-group mb-3">
            <label>Kurir</label>
            <input type="text" class="form-control" formControlName="kurir" placeholder="JNE, J&T, dll">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="shippingForm.invalid">Add</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card">
      <div class="card-header"><h5>Shipping Regions</h5></div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Wilayah</th>
              <th>Biaya</th>
              <th>Kurir</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of shippings">
              <td>{{ s.wilayah }}</td>
              <td>Rp {{ formatPrice(s.biaya) }}</td>
              <td>{{ s.kurir || '-' }}</td>
              <td class="btn-table">
                <button class="btn btn-xs btn-success" (click)="openEditModal(s)">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-xs btn-danger" (click)="deleteShipping(s._id!)">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="shippings.length === 0">
              <td colspan="4" class="text-center">Belum ada data wilayah</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal-overlay" *ngIf="showEditModal">
  <div class="modal-box">
    <h5>Edit Shipping Region</h5>
    <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
      <input type="hidden" formControlName="_id">
      <div class="form-group mb-3">
        <label>Wilayah *</label>
        <input type="text" class="form-control" formControlName="wilayah">
      </div>
      <div class="form-group mb-3">
        <label>Biaya (Rp) *</label>
        <input type="number" class="form-control" formControlName="biaya">
      </div>
      <div class="form-group mb-3">
        <label>Kurir</label>
        <input type="text" class="form-control" formControlName="kurir">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cancel</button>
    </form>
  </div>
</div>